@charset "UTF-8";
	#user td {
		height: 60px;
		line-height: 60px;
	}
	
	#user td input {
		height: 25px;
	}
	
	#tel1, #tel2, #tel3 {
		width: 125px;
	}
	
	.first {
		border-right: 1px solid #f3f3f3;
		text-align: center;
	}
	
	#user {
		position: relative;
	}
	
	#profile {
		line-height: 25px;
	}
	
	span.key {
		display: inline-block;
		width: 120px;
	}